*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --background-color: #222;
  --primary-color: #cf0;
  --text-color: #efefef;
}

html {
  font-size: 10px;
}

@media screen and (max-width: 540px) {
  html {
    font-size: 8px;
  }
}

body {
  font-size: 1.6rem;
  min-width: 32rem;
  overflow-x: hidden;
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: monospace;
  line-height: 1.34;
}

a {
  color: var(--text-color);
}

.container {
  max-width: 94rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.top-bar {
  padding: 3rem 0;
  background-color: #1f1f1f;
  border-bottom: 0.2rem solid #1d1d1d;
}

.top-bar > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar__heading {
  font-size: 2.6rem;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
}

@media screen and (max-width: 420px) {
  .top-bar__heading span,
  .top-bar__subheading {
    display: none;
  }
}

.top-bar__heading span {
  margin-left: 1rem;
  color: rgba(255, 255, 255, 0.3);
}

.top-bar__subheading {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.3);
}

.top-bar__icon-block {
  display: flex;
  align-items: center;
  position: relative;
}

.top-bar__icon {
  width: 2.6rem;
  height: 2.6rem;
}

.top-bar__icon_discord {
  position: relative;
  top: 0.2rem;
}

.top-bar__icon:hover * {
  fill: var(--primary-color);
}

.top-bar__icon * {
  fill: var(--text-color);
  transition: all 0.2s ease;
}

.top-bar__icon-block > * {
  margin: 0 1rem;
}

.welcome > .container {
  padding-top: 10rem;
}

.welcome__heading {
  font-size: 3rem;
  text-align: center;
}

.welcome__subheading {
  padding-top: 2rem;
  font-size: 2.1rem;
  text-align: center;
}

.welcome__heading > span,
.welcome__subheading > span {
  color: var(--primary-color);
}

.projects__heading {
  padding-top: 10rem;
  padding-bottom: 5rem;
  font-size: 3rem;
  text-align: center;
}

.projects__project {
  display: flex;
  margin-bottom: 2rem;
  padding: 2rem;
  border-left: 0.3rem solid rgba(255, 255, 255, 0.05);
}

.projects__project-name {
  display: inline-block;
  padding-bottom: 0.5rem;
  color: var(--primary-color);
  font-weight: 700;
}

.projects__project-technologies span {
  font-weight: 700;
}
